<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap Social -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Cistom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<body class="p-0 m-0 text-light">
    <header class="jumbotron bg-dark">
        <div class="container-lg">
            <div class="px-3 px-lg-0 text-center">
                <h1 class="display-2">THE MOVIE APP</h1>
                <p class="lead pt-4">Your one stop destination to know all about your favorite movies and
                    television / web series!
                </p>
            </div>
        </div>
    </header>