<h1>Welcome to the movie App</h1>
<h2>This is my first express app.</h2>
<h3>This movie app uses an API to search and deliver results</h3>
<h4>Your onestop destination to know all about yur favorite movies and television/series series</h4>
<p>As you can guess, this is my very first experience on working with APIsas well !</p>

<form action="/results" method="GET">
    <input type="text" name="search" id="search" placeholder="Enter your search here">
    <input type="submit" value="submit">
</form>