<%- include('partials/header') -%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Search for a Movie / Series</h1>
            <form class="" action="/results" method="GET">
                <div class="form-row justify-content-center">
                    <div class="input-group col-10">
                        <input class="search form-control form-control-lg" type="text" name="search" id="search"
                            placeholder="Enter your search here" required />
                        <div class="search input-group-append">
                            <input class="btn btn-danger" type="submit" value="SUBMIT">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>